# All of these variables must be defined, else the server will throw an error
# because of failing schema validation as configured in app module
# after validation is successful these variables are then passed to src/config/default.config.ts
# which creates some default using these. Finally these values are made available
# to our app using configService
NODE_ENV=development
APP_PORT=3000
DB_PORT=5432
DB_NAME=taskmanager
DB_HOST=localhost
DB_TYPE=postgres
DB_USERNAME=postgres
DB_PASSWORD=""
# in production, set DB_TYPEORM_SYNC to false after first run 
# for example during db migrations sync should be false
DB_TYPEORM_SYNC=true
JWT_EXPIRES_IN=3600
JWT_SECRET=topsecret



